@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body{
    background-color: rgb(228, 228, 228);
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

section{
    width: 100%;
    height: 85vh;
    background-color: rgb(228, 228, 228);
    position: relative;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #1f1d1d;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);

}

.logo{
    color: #000000;
    font-size: 22px;
}

.logo img{
    width: 400px;
    height: 90px;
    border-radius: 10px;
    margin-top: 4px;
}

.active{
    font-weight: bold;
    color: #2d2a2a;
}

.text-container p:nth-child(1){
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}

.text-container p:nth-child(2){
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    font-size: 60px;
}

.text-container p:nth-child(3){
    font-family: 'Balsamiq Sans', cursive;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}

.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}

.text-container{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
}

.model{
    height: 560px;
    position: absolute;
    bottom: 40px;
    left: 80%;
    transform: translateX(-70%);
}

.about-container{
    width: 85%;
    height: 1000px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px #fa306c;
    display: flex;
    margin: -24% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.about-container .about-image img{
    height: 800px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #1f1d1d;
}

.about-text{
    width: 1100px;
}

.about-text a{
    color: #fa306c;
}

.about-text p:nth-child(1),
.about-text p:nth-child(7),
.about-text p:nth-child(14){
    color: black;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    font-size: 23px;
    line-height: 10px;
}

.about-text p:nth-child(2),
.about-text p:nth-child(10){
    color: #E1224B;
    font-size: 13px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4),
.about-text p:nth-child(5),
.about-text p:nth-child(6),
.about-text p:nth-child(8),
.about-text p:nth-child(9),
.about-text p:nth-child(11),
.about-text p:nth-child(12),
.about-text p:nth-child(13),
.about-text p:nth-child(15),
.about-text p:nth-child(16),
.about-text p:nth-child(17),
.about-text p:nth-child(18){
    color: #5f5a5a;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 16px;
}

.services{
    height: 700px;
    background-color: #FFFFFF;
    padding: 10px 10% 0px 10%;
}

.services-text{
    margin: 40px;
}

.services-text p:nth-child(1){
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    color: black;
    font-size: 45px;
    line-height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-shadow: 1px 1px gray;
}

.services-text p:nth-child(2){
    font-family: 'Balsamiq Sans', cursive;
    color: #7e7d7d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.box-1{
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1{
    background-color: #1f1d1d;
}

.box-1 p:nth-child(1),
.box-1 p:nth-child(3),
.box-1 p:nth-child(5),
.box-1 p:nth-child(7),
.box-1 p:nth-child(9),
.box-1 p:nth-child(11){
    color: #E1224B;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 23px;
    line-height: 0px;
    text-shadow: 1px 1px white;
}

.box-1 button{
    width: 150px;
    height: 30px;
    background-color: #E1224B;
    font-family: 'Balsamiq Sans', cursive;
    border: none;
    outline: none;
    border-radius: 6px;
    font-style: italic;
    color: #FFFFFF; 
    box-shadow: 2px 2px white;
    margin-bottom: 20px;
}

.box-1 button a{
    text-decoration: none;
    color: #FFFFFF;
}

.contact-me{
    width: 100%;
    height: 275px;
    background-image: url(../img/project\ in\ your\ mind.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-me p{
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    border-bottom: 2px solid #FFFFFF;
}

.contact-me button{
    width: 200px;
    height: 40px;
    background-color: #FFFFFF;
    font-family: 'Balsamiq Sans', cursive;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 2px 2px #E1224B;
}

.contact-me button a{
    text-decoration: none;
    color: black;
}

footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}

footer p{
    font-family: 'Balsamiq Sans', cursive;
}

footer i{
    font-family: 'Balsamiq Sans', cursive;
    color: green;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: none;
}

footer p:nth-child(2){
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}

footer hr{
    height: 2px;
    background-color: #E1224B;
    width: 1200px;
    border: none;
    border-radius: 20px;
}

.copyright{
    color: black;
    text-shadow: 0.5px 0.5px black;
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}